SoapClient/SoapClientGenerator/XMLFile1.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
	<definitions xmlns:tns="http://russianpost.org/operationhistory" xmlns:msg="http://russianpost.org/operationhistory/data" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:espp="http://www.russianpost.org/RTM/DataExchangeESPP/Data" xmlns:sms="http://russianpost.org/sms-info/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="OperationHistory" targetNamespace="http://russianpost.org/operationhistory">
    <types>
        <xsd:schema targetNamespace="http://russianpost.org/operationhistory">            
            <xsd:import namespace="http://www.russianpost.org/RTM/DataExchangeESPP/Data" schemaLocation="http://voh.russianpost.ru:8080/niips-operationhistory-web/OperationHistory?xsd=1"></xsd:import>
            <xsd:import namespace="http://russianpost.org/operationhistory/data" schemaLocation="http://voh.russianpost.ru:8080/niips-operationhistory-web/OperationHistory?xsd=2"></xsd:import>
            <xsd:import namespace="http://russianpost.org/sms-info/data" schemaLocation="http://voh.russianpost.ru:8080/niips-operationhistory-web/OperationHistory?xsd=3"></xsd:import>
        </xsd:schema>
    </types>

    <message name="getOperationHistoryIn">
        <part name="historyRequest" element="msg:OperationHistoryRequest"></part>
        <part name="AuthorizationHeader" element="msg:AuthorizationHeader"></part>
    </message>

    <message name="getOperationHistoryOut">
        <part name="messagePart" element="msg:OperationHistoryData"></part>
    </message>

    <message name="AuthorizationFault">
        <part name="Reason" element="msg:AuthorizationFaultReason"></part>
    </message>

    <message name="OperationHistoryFault">
        <part name="Reason" element="msg:OperationHistoryFaultReason"></part>
    </message>

    <message name="LanguageFault">
        <part name="Reason" element="msg:LanguageFaultReason"></part>
    </message>

    <message name="UpdateOperationDataRequest">
        <part name="UpdateRequest" element="msg:UpdateOperationRequest"></part>
        <part name="AuthorizationHeader" element="msg:AuthorizationHeader"></part>
    </message>
    
    <message name="UpdateOperationDataResponse">
        <part name="messagePart" element="msg:OperationHistoryData"></part>
    </message>
    
    <message name="getLanguageOut">
        <part name="messagePart" element="msg:LanguageData"></part>
    </message>
    
    <message name="getLanguageIn">
        <part name="AuthorizationHeader" element="msg:AuthorizationHeader"></part>
    </message>
    
    <message name="PostalOrderEventsForMaiOutput">
        <part name="ResponseParam" element="espp:PostalOrderEventsForMaiOutput"></part>
    </message>
    
    <message name="PostalOrderEventsForMailInput">
        <part name="AuthorizationHeader" element="msg:AuthorizationHeader"></part>
        <part name="InputParam" element="espp:PostalOrderEventsForMailInput"></part>
    </message>
    
    <message name="PostalOrderEventsForMailFault">
        <part name="Fault" element="espp:PostalOrderEventsForMailFault"></part>
    </message>    
                 
    <message name="getSmsHistoryRequest">
        <part name="AuthorizationHeader" element="msg:AuthorizationHeader"></part>
        <part name="SmsRequest" element="sms:SmsHistoryRequest"></part>
    </message>
    
    <message name="getSmsHistoryResponse">
        <part name="SmsHistoryResponse" element="sms:SmsHistoryData"></part>
    </message>
    
    <message name="SmsHistoryFault">
        <part name="SmsHistoryFault" element="sms:SmsHistoryFaultReason"></part> 
    </message>
    
    <portType name="OperationHistoryInterface">
        <operation name="GetOperationHistory">
            <documentation>Метод получения истории операции над РПО.</documentation>
            <input message="tns:getOperationHistoryIn"></input>
            <output message="tns:getOperationHistoryOut"></output>
            <fault name="AuthorizationFault" message="tns:AuthorizationFault"></fault>
            <fault name="OperationHistoryFault" message="tns:OperationHistoryFault"></fault>
            <fault name="LanguageFault" message="tns:LanguageFault"></fault>            
        </operation>
        <operation name="UpdateOperationData">
            <documentation>Метод редактирования операционных данных.</documentation>
            <input message="tns:UpdateOperationDataRequest"></input>
            <output message="tns:UpdateOperationDataResponse"></output>
            <fault name="AuthorizationFault" message="tns:AuthorizationFault"></fault>	
            <fault name="OperationHistoryFault" message="tns:OperationHistoryFault"></fault>        	
            <fault name="LanguageFault" message="tns:LanguageFault"></fault>        	                
        </operation>
        <operation name="getLanguages">
            <documentation>Метод получения списка доступных языков предоставления данных об РПО.</documentation>
            <input name="getLanguageRequest" message="tns:getLanguageIn"></input>
            <output name="getLanguageResponse" message="tns:getLanguageOut"></output>
            <fault name="AuthorizationFault" message="tns:AuthorizationFault"></fault>	
            <fault name="OperationHistoryFault" message="tns:OperationHistoryFault"></fault>
            <fault name="LanguageFault" message="tns:LanguageFault"></fault>
        </operation>
        <operation name="PostalOrderEventsForMail">
            <documentation>Метод получения данных о наложенном платеже. </documentation>
            <input name="Request" message="tns:PostalOrderEventsForMailInput"></input>
            <output name="Response" message="tns:PostalOrderEventsForMaiOutput"></output>
            <fault name="Fault" message="tns:PostalOrderEventsForMailFault"></fault>
        </operation>     
        <operation name="getSmsHistory">
            <documentation>Метод получения данных о переданных по отправлению СМС. </documentation>
            <input message="tns:getSmsHistoryRequest"></input>
            <output message="tns:getSmsHistoryResponse"></output>            
            <fault name="SmsHistoryFault" message="tns:SmsHistoryFault"></fault>
            <fault name="LanguageFault" message="tns:LanguageFault"></fault>
            <fault name="AuthorizationFault" message="tns:AuthorizationFault"></fault>
        </operation>
    </portType>

    <binding name="WebOperationHistory" type="tns:OperationHistoryInterface">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
        <operation name="GetOperationHistory">
            <soap:operation style="document"></soap:operation>
            <input>
                <soap:header message="tns:getOperationHistoryIn" part="AuthorizationHeader" use="literal"></soap:header>
                <soap:body use="literal" parts="historyRequest"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="AuthorizationFault">
                <soap:fault name="AuthorizationFault" use="literal"></soap:fault>
            </fault>
            <fault name="OperationHistoryFault">
                <soap:fault name="OperationHistoryFault" use="literal"></soap:fault>
            </fault>
            <fault name="LanguageFault">
                <soap:fault name="LanguageFault" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="UpdateOperationData">
            <soap:operation style="document"></soap:operation>
            <input>
                <soap:header message="tns:UpdateOperationDataRequest" part="AuthorizationHeader" use="literal"></soap:header>
                <soap:body use="literal" parts="UpdateRequest"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="AuthorizationFault">
                <soap:fault name="AuthorizationFault" use="literal"></soap:fault>
            </fault>
            <fault name="OperationHistoryFault">
                <soap:fault name="OperationHistoryFault" use="literal"></soap:fault>
            </fault>
            <fault name="LanguageFault">
                <soap:fault name="LanguageFault" use="literal"></soap:fault>
            </fault>            
        </operation>
        <operation name="getLanguages">
            <soap:operation style="document"></soap:operation>
            <input name="getLanguageRequest">
                <soap:header message="tns:getLanguageIn" part="AuthorizationHeader" use="literal"></soap:header>
                <soap:body parts="" use="literal"></soap:body>
            </input>
            <output name="getLanguageResponse">
                <soap:body parts="messagePart" use="literal"></soap:body>
            </output>
            <fault name="AuthorizationFault">
                <soap:fault name="AuthorizationFault" use="literal"></soap:fault>
            </fault>
            <fault name="OperationHistoryFault">
                <soap:fault name="OperationHistoryFault" use="literal"></soap:fault>
            </fault>
            <fault name="LanguageFault">
                <soap:fault name="LanguageFault" use="literal"></soap:fault>
            </fault>            
        </operation>
        <operation name="PostalOrderEventsForMail">
            <soap:operation style="document"></soap:operation>
            <input name="Request">
                <soap:header message="tns:PostalOrderEventsForMailInput" part="AuthorizationHeader" use="literal"></soap:header>
                <soap:body use="literal" parts="InputParam"></soap:body>
            </input>
            <output name="Response">
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="Fault">
                <soap:fault name="Fault" use="literal"></soap:fault>
            </fault>
        </operation>   
        <operation name="getSmsHistory">
            <soap:operation style="document"></soap:operation>
            <input>
                <soap:header message="tns:getSmsHistoryRequest" use="literal" part="AuthorizationHeader"></soap:header>
                <soap:body use="literal" parts="SmsRequest"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="SmsHistoryFault">
                <soap:fault name="SmsHistoryFault" use="literal"></soap:fault>
            </fault>
            <fault name="LanguageFault">
                <soap:fault name="LanguageFault" use="literal"></soap:fault>
            </fault>
            <fault name="AuthorizationFault">
                <soap:fault name="AuthorizationFault" use="literal"></soap:fault>
            </fault>
        </operation>   
    </binding>

    <service name="OperationHistory">
        <port name="OperationHistory" binding="tns:WebOperationHistory">
            <soap:address location="http://voh.russianpost.ru:8080/niips-operationhistory-web/OperationHistory"></soap:address>
        </port>
    </service>
</definitions>