SoapClient/SoapClientGenerator/XMLFile5.xml

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions xmlns:tns="http://russianpost.org/operationhistory" xmlns:msg="http://russianpost.org/operationhistory/data" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:espp="http://www.russianpost.org/RTM/DataExchangeESPP/Data" xmlns:sms="http://russianpost.org/sms-info/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="OperationHistory" targetNamespace="http://russianpost.org/operationhistory">
	<types>
		<xsd:schema targetNamespace="http://russianpost.org/operationhistory" />
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.russianpost.org/RTM/DataExchangeESPP/Data" targetNamespace="http://www.russianpost.org/RTM/DataExchangeESPP/Data">
			<xs:simpleType name="BarcodeS10">
				<xs:restriction base="xs:string">
					<xs:pattern value="[A-Z]{2,2}d{9}[A-Z]{2,2}"></xs:pattern>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="PostalOrderEventsForMaiOutput" type="ns1:PostalOrderEventsForMaiOutput"></xs:element>
			<xs:complexType name="PostalOrderEventsForMaiOutput">
				<xs:sequence>
					<xs:element name="PostalOrderEvent" type="ns1:PostalOrderEvent" minOccurs="0" maxOccurs="unbounded"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="PostalOrderEventsForMailInput" type="ns1:PostalOrderEventsForMailInput"></xs:element>
			<xs:complexType name="PostalOrderEventsForMailInput">
				<xs:sequence></xs:sequence>
				<xs:attribute name="Barcode" use="required" type="ns1:Barcode"></xs:attribute>
				<xs:attribute name="Language" type="xs:string" default="RUS"></xs:attribute>
			</xs:complexType>
			<xs:simpleType name="Barcode">
				<xs:union memberTypes="ns1:BarcodeS10 ns1:BarcodeRTM1"></xs:union>
			</xs:simpleType>
			<xs:simpleType name="BarcodeRTM1">
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9]{14}"></xs:pattern>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="PostalOrderEventsForMailFault" type="ns1:PostalOrderEventsForMailFault"></xs:element>
			<xs:complexType name="PostalOrderEventsForMailFault">
				<xs:sequence>
					<xs:element name="PostalOrderEventsForMailError" type="ns1:PostalOrderEventsForMailError" minOccurs="1" maxOccurs="unbounded"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="PostalOrderEventsForMailError" type="ns1:PostalOrderEventsForMailError"></xs:element>
			<xs:complexType name="PostalOrderEventsForMailError">
				<xs:sequence></xs:sequence>
				<xs:attribute name="ErrorID" use="optional" type="ns1:PostalOrderEventsForMailErrors"></xs:attribute>
			</xs:complexType>
			<xs:simpleType name="PostalOrderEventsForMailErrors">
				<xs:restriction base="xs:string">
					<xs:enumeration value="InvalidLoginOrPassword"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="PostalOrderEvent" type="ns1:PostalOrderEvent"></xs:element>
			<xs:complexType name="PostalOrderEvent">
				<xs:sequence></xs:sequence>
				<xs:attribute name="Number" use="optional" type="ns1:NumberPostalOrder"></xs:attribute>
				<xs:attribute name="EventDateTime" use="optional" type="xs:dateTime"></xs:attribute>
				<xs:attribute name="EventType" use="optional" type="xs:integer"></xs:attribute>
				<xs:attribute name="EventName" use="optional" type="xs:string"></xs:attribute>
				<xs:attribute name="IndexTo" use="optional" type="xs:integer"></xs:attribute>
				<xs:attribute name="IndexEvent" use="optional" type="xs:integer"></xs:attribute>
				<xs:attribute name="SumPaymentForward" use="optional" type="xs:integer"></xs:attribute>
				<xs:attribute name="CountryEventCode" type="xs:string" use="optional"></xs:attribute>
				<xs:attribute name="CountryToCode" type="xs:string" use="optional"></xs:attribute>
			</xs:complexType>
			<xs:simpleType name="NumberPostalOrder">
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
			<xs:element name="Login" type="xs:string"></xs:element>
			<xs:element name="Password" type="xs:string"></xs:element>
		</xs:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://russianpost.org/operationhistory/data" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" targetNamespace="http://russianpost.org/operationhistory/data" elementFormDefault="qualified">
			<xsd:element name="AuthorizationHeader">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="login" type="xsd:string"></xsd:element>
						<xsd:element name="password" type="xsd:string"></xsd:element>
					</xsd:sequence>
					<xsd:attribute ref="env:mustUnderstand" default="1"></xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateOperationRequest" type="tns:UpdateOperationRequest"></xsd:element>
			<xsd:complexType name="UpdateOperationRequest">
				<xsd:sequence>
					<xsd:element name="RequestType" type="tns:RequestType" minOccurs="1" maxOccurs="1"></xsd:element>
					<xsd:element name="SourceOperation" type="tns:OperationHistoryRecord" minOccurs="1" maxOccurs="1"></xsd:element>
					<xsd:element name="TargetOperation" type="tns:OperationHistoryRecord" minOccurs="0" maxOccurs="1"></xsd:element>
					<xsd:element name="ReasonDescription" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
					<xsd:element name="InitiatorDepartment" type="xsd:integer" minOccurs="1" maxOccurs="1"></xsd:element>
					<xsd:element name="ExecutorIP" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Barcode">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[0-9]{14}|[A-Z]{2}[0-9]{9}[A-Z]{2}"></xsd:pattern>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="OperationHistoryData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="historyRecord" type="tns:OperationHistoryRecord" minOccurs="0" maxOccurs="unbounded"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LanguageData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Language" minOccurs="1" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
								<xsd:attribute name="code" type="xsd:string"></xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="OperationHistoryRecord">
				<xsd:sequence>
					<xsd:element name="AddressParameters" type="tns:AddressParameters"></xsd:element>
					<xsd:element name="FinanceParameters" type="tns:FinanceParameters"></xsd:element>
					<xsd:element name="ItemParameters" type="tns:ItemParameters"></xsd:element>
					<xsd:element name="OperationParameters" type="tns:OperationParameters"></xsd:element>
					<xsd:element name="UserParameters" type="tns:UserParameters"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AddressParameters">
				<xsd:sequence>
					<xsd:element name="DestinationAddress" type="tns:Address"></xsd:element>
					<xsd:element name="OperationAddress" type="tns:Address"></xsd:element>
					<xsd:element name="MailDirect" type="tns:Country"></xsd:element>
					<xsd:element name="CountryFrom" type="tns:Country"></xsd:element>
					<xsd:element name="CountryOper" type="tns:Country"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="FinanceParameters">
				<xsd:sequence>
					<xsd:element name="Payment" type="xsd:integer"></xsd:element>
					<xsd:element name="Value" type="xsd:integer"></xsd:element>
					<xsd:element name="MassRate" type="xsd:integer"></xsd:element>
					<xsd:element name="InsrRate" type="xsd:integer"></xsd:element>
					<xsd:element name="AirRate" type="xsd:integer"></xsd:element>
					<xsd:element name="Rate" type="xsd:integer"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ItemParameters">
				<xsd:sequence>
					<xsd:element name="Barcode" type="xsd:string"></xsd:element>
					<xsd:element name="Internum" type="xsd:string"></xsd:element>
					<xsd:element name="ValidRuType" type="xsd:boolean"></xsd:element>
					<xsd:element name="ValidEnType" type="xsd:boolean"></xsd:element>
					<xsd:element name="ComplexItemName" type="xsd:string"></xsd:element>
					<xsd:element name="MailRank" type="tns:Rtm02Parameter"></xsd:element>
					<xsd:element name="PostMark" type="tns:Rtm02Parameter"></xsd:element>
					<xsd:element name="MailType" type="tns:Rtm02Parameter"></xsd:element>
					<xsd:element name="MailCtg" type="tns:Rtm02Parameter"></xsd:element>
					<xsd:element name="Mass" type="xsd:integer"></xsd:element>
					<xsd:element name="MaxMassRU" type="xsd:integer"></xsd:element>
					<xsd:element name="MaxMassEN" type="xsd:integer"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OperationParameters">
				<xsd:sequence>
					<xsd:element name="OperType" type="tns:Rtm02Parameter"></xsd:element>
					<xsd:element name="OperAttr" type="tns:Rtm02Parameter"></xsd:element>
					<xsd:element name="OperDate" type="xsd:dateTime"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="UserParameters">
				<xsd:sequence>
					<xsd:element name="SendCtg" type="tns:Rtm02Parameter"></xsd:element>
					<xsd:element name="Sndr" type="xsd:string"></xsd:element>
					<xsd:element name="Rcpn" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Country">
				<xsd:sequence>
					<xsd:element name="Id" type="xsd:int"></xsd:element>
					<xsd:element name="Code2A" type="xsd:string"></xsd:element>
					<xsd:element name="Code3A" type="xsd:string"></xsd:element>
					<xsd:element name="Name" type="xsd:string"></xsd:element>
					<xsd:element name="NameRU" type="xsd:string"></xsd:element>
					<xsd:element name="NameEN" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Rtm02Parameter">
				<xsd:sequence>
					<xsd:element name="Id" type="xsd:int"></xsd:element>
					<xsd:element name="Name" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Address">
				<xsd:sequence>
					<xsd:element name="Index" type="xsd:string"></xsd:element>
					<xsd:element name="Description" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="OperationHistoryFaultReason" type="xsd:string"></xsd:element>
			<xsd:element name="AuthorizationFaultReason" type="xsd:string"></xsd:element>
			<xsd:element name="LanguageFaultReason" type="xsd:string"></xsd:element>
			<xsd:element name="OperationHistoryRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Barcode" type="tns:Barcode"></xsd:element>
						<xsd:element name="MessageType" type="xsd:int"></xsd:element>
						<xsd:element name="Language" type="xsd:string" minOccurs="0" maxOccurs="1" default="RUS"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:simpleType name="RequestType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="update"></xsd:enumeration>
					<xsd:enumeration value="delete"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.xmlsoap.org/soap/envelope/" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/">
			<!-- Global Attributes.  The following attributes are intended to be usable via qualified attribute names on any complex type referencing them.  -->
			<xs:attribute name="mustUnderstand" default="0">
				<xs:simpleType>
					<xs:restriction base="xs:boolean">
						<xs:pattern value="0|1"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="actor" type="xs:anyURI"></xs:attribute>
		</xs:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://russianpost.org/sms-info/data" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" targetNamespace="http://russianpost.org/sms-info/data" elementFormDefault="qualified">
			<xsd:element name="AuthorisationHeader">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="login" type="xsd:string"></xsd:element>
						<xsd:element name="password" type="xsd:string"></xsd:element>
					</xsd:sequence>
					<xsd:attribute ref="env:mustUnderstand" default="1"></xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LanguageData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Language" minOccurs="1" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
								<xsd:attribute name="code" type="xsd:string"></xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="SmsHistoryRecord">
				<xsd:sequence>
					<xsd:element name="Id" type="xsd:integer"></xsd:element>
					<xsd:element name="Number" type="tns:TelNumber"></xsd:element>
					<xsd:element name="NotificationTypeID" type="xsd:integer"></xsd:element>
					<xsd:element name="NotificationTypeName" type="xsd:string"></xsd:element>
					<xsd:element name="NotificationStatusID" type="xsd:integer"></xsd:element>
					<xsd:element name="NotificationStatusName" type="xsd:string"></xsd:element>
					<xsd:element name="NotificationStatusDate" type="xsd:dateTime"></xsd:element>
					<xsd:element name="SendedID" type="xsd:integer"></xsd:element>
					<xsd:element name="SourceOperation" type="tns:Barcode"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Barcode">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="13"></xsd:minLength>
					<xsd:maxLength value="14"></xsd:maxLength>
					<xsd:pattern value="([0-9]{14,14})|([a-z,A-Z]{2,2}[0-9]{9,9}[a-z,A-Z]{2,2})"></xsd:pattern>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="TelNumber">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="^([0-9]|\\+7)?[0-9]*$"></xsd:pattern>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="SmsHistoryFaultReason" type="xsd:string"></xsd:element>
			<xsd:element name="AuthorisationFaultReason" type="xsd:string"></xsd:element>
			<xsd:element name="LanguageFaultReason" type="xsd:string"></xsd:element>
			<xsd:element name="SmsHistoryRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Barcode" type="tns:Barcode"></xsd:element>
						<xsd:element name="Language" type="xsd:string" minOccurs="0" maxOccurs="1" default="RUS"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SmsHistoryData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="historyRecord" type="tns:SmsHistoryRecord" minOccurs="0" maxOccurs="unbounded"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.xmlsoap.org/soap/envelope/" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/">
			<!-- Global Attributes.  The following attributes are intended to be usable via qualified attribute names on any complex type referencing them.  -->
			<xs:attribute name="mustUnderstand" default="0">
				<xs:simpleType>
					<xs:restriction base="xs:boolean">
						<xs:pattern value="0|1"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="actor" type="xs:anyURI"></xs:attribute>
		</xs:schema>
	</types>
	<message name="getOperationHistoryIn">
		<part name="historyRequest" element="msg:OperationHistoryRequest"></part>
		<part name="AuthorizationHeader" element="msg:AuthorizationHeader"></part>
	</message>
	<message name="getOperationHistoryOut">
		<part name="messagePart" element="msg:OperationHistoryData"></part>
	</message>
	<message name="AuthorizationFault">
		<part name="Reason" element="msg:AuthorizationFaultReason"></part>
	</message>
	<message name="OperationHistoryFault">
		<part name="Reason" element="msg:OperationHistoryFaultReason"></part>
	</message>
	<message name="LanguageFault">
		<part name="Reason" element="msg:LanguageFaultReason"></part>
	</message>
	<message name="UpdateOperationDataRequest">
		<part name="UpdateRequest" element="msg:UpdateOperationRequest"></part>
		<part name="AuthorizationHeader" element="msg:AuthorizationHeader"></part>
	</message>
	<message name="UpdateOperationDataResponse">
		<part name="messagePart" element="msg:OperationHistoryData"></part>
	</message>
	<message name="getLanguageOut">
		<part name="messagePart" element="msg:LanguageData"></part>
	</message>
	<message name="getLanguageIn">
		<part name="AuthorizationHeader" element="msg:AuthorizationHeader"></part>
	</message>
	<message name="PostalOrderEventsForMaiOutput">
		<part name="ResponseParam" element="espp:PostalOrderEventsForMaiOutput"></part>
	</message>
	<message name="PostalOrderEventsForMailInput">
		<part name="AuthorizationHeader" element="msg:AuthorizationHeader"></part>
		<part name="InputParam" element="espp:PostalOrderEventsForMailInput"></part>
	</message>
	<message name="PostalOrderEventsForMailFault">
		<part name="Fault" element="espp:PostalOrderEventsForMailFault"></part>
	</message>
	<message name="getSmsHistoryRequest">
		<part name="AuthorizationHeader" element="msg:AuthorizationHeader"></part>
		<part name="SmsRequest" element="sms:SmsHistoryRequest"></part>
	</message>
	<message name="getSmsHistoryResponse">
		<part name="SmsHistoryResponse" element="sms:SmsHistoryData"></part>
	</message>
	<message name="SmsHistoryFault">
		<part name="SmsHistoryFault" element="sms:SmsHistoryFaultReason"></part>
	</message>
	<portType name="OperationHistoryInterface">
		<operation name="GetOperationHistory">
			<documentation>Метод получения истории операции над РПО.</documentation>
			<input message="tns:getOperationHistoryIn"></input>
			<output message="tns:getOperationHistoryOut"></output>
			<fault name="AuthorizationFault" message="tns:AuthorizationFault"></fault>
			<fault name="OperationHistoryFault" message="tns:OperationHistoryFault"></fault>
			<fault name="LanguageFault" message="tns:LanguageFault"></fault>
		</operation>
		<operation name="UpdateOperationData">
			<documentation>Метод редактирования операционных данных.</documentation>
			<input message="tns:UpdateOperationDataRequest"></input>
			<output message="tns:UpdateOperationDataResponse"></output>
			<fault name="AuthorizationFault" message="tns:AuthorizationFault"></fault>
			<fault name="OperationHistoryFault" message="tns:OperationHistoryFault"></fault>
			<fault name="LanguageFault" message="tns:LanguageFault"></fault>
		</operation>
		<operation name="getLanguages">
			<documentation>Метод получения списка доступных языков предоставления данных об РПО.</documentation>
			<input name="getLanguageRequest" message="tns:getLanguageIn"></input>
			<output name="getLanguageResponse" message="tns:getLanguageOut"></output>
			<fault name="AuthorizationFault" message="tns:AuthorizationFault"></fault>
			<fault name="OperationHistoryFault" message="tns:OperationHistoryFault"></fault>
			<fault name="LanguageFault" message="tns:LanguageFault"></fault>
		</operation>
		<operation name="PostalOrderEventsForMail">
			<documentation>Метод получения данных о наложенном платеже. </documentation>
			<input name="Request" message="tns:PostalOrderEventsForMailInput"></input>
			<output name="Response" message="tns:PostalOrderEventsForMaiOutput"></output>
			<fault name="Fault" message="tns:PostalOrderEventsForMailFault"></fault>
		</operation>
		<operation name="getSmsHistory">
			<documentation>Метод получения данных о переданных по отправлению СМС. </documentation>
			<input message="tns:getSmsHistoryRequest"></input>
			<output message="tns:getSmsHistoryResponse"></output>
			<fault name="SmsHistoryFault" message="tns:SmsHistoryFault"></fault>
			<fault name="LanguageFault" message="tns:LanguageFault"></fault>
			<fault name="AuthorizationFault" message="tns:AuthorizationFault"></fault>
		</operation>
	</portType>
	<binding name="WebOperationHistory" type="tns:OperationHistoryInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
		<operation name="GetOperationHistory">
			<soap:operation style="document"></soap:operation>
			<input>
				<soap:header message="tns:getOperationHistoryIn" part="AuthorizationHeader" use="literal"></soap:header>
				<soap:body use="literal" parts="historyRequest"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
			<fault name="AuthorizationFault">
				<soap:fault name="AuthorizationFault" use="literal"></soap:fault>
			</fault>
			<fault name="OperationHistoryFault">
				<soap:fault name="OperationHistoryFault" use="literal"></soap:fault>
			</fault>
			<fault name="LanguageFault">
				<soap:fault name="LanguageFault" use="literal"></soap:fault>
			</fault>
		</operation>
		<operation name="UpdateOperationData">
			<soap:operation style="document"></soap:operation>
			<input>
				<soap:header message="tns:UpdateOperationDataRequest" part="AuthorizationHeader" use="literal"></soap:header>
				<soap:body use="literal" parts="UpdateRequest"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
			<fault name="AuthorizationFault">
				<soap:fault name="AuthorizationFault" use="literal"></soap:fault>
			</fault>
			<fault name="OperationHistoryFault">
				<soap:fault name="OperationHistoryFault" use="literal"></soap:fault>
			</fault>
			<fault name="LanguageFault">
				<soap:fault name="LanguageFault" use="literal"></soap:fault>
			</fault>
		</operation>
		<operation name="getLanguages">
			<soap:operation style="document"></soap:operation>
			<input name="getLanguageRequest">
				<soap:header message="tns:getLanguageIn" part="AuthorizationHeader" use="literal"></soap:header>
				<soap:body parts="" use="literal"></soap:body>
			</input>
			<output name="getLanguageResponse">
				<soap:body parts="messagePart" use="literal"></soap:body>
			</output>
			<fault name="AuthorizationFault">
				<soap:fault name="AuthorizationFault" use="literal"></soap:fault>
			</fault>
			<fault name="OperationHistoryFault">
				<soap:fault name="OperationHistoryFault" use="literal"></soap:fault>
			</fault>
			<fault name="LanguageFault">
				<soap:fault name="LanguageFault" use="literal"></soap:fault>
			</fault>
		</operation>
		<operation name="PostalOrderEventsForMail">
			<soap:operation style="document"></soap:operation>
			<input name="Request">
				<soap:header message="tns:PostalOrderEventsForMailInput" part="AuthorizationHeader" use="literal"></soap:header>
				<soap:body use="literal" parts="InputParam"></soap:body>
			</input>
			<output name="Response">
				<soap:body use="literal"></soap:body>
			</output>
			<fault name="Fault">
				<soap:fault name="Fault" use="literal"></soap:fault>
			</fault>
		</operation>
		<operation name="getSmsHistory">
			<soap:operation style="document"></soap:operation>
			<input>
				<soap:header message="tns:getSmsHistoryRequest" use="literal" part="AuthorizationHeader"></soap:header>
				<soap:body use="literal" parts="SmsRequest"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
			<fault name="SmsHistoryFault">
				<soap:fault name="SmsHistoryFault" use="literal"></soap:fault>
			</fault>
			<fault name="LanguageFault">
				<soap:fault name="LanguageFault" use="literal"></soap:fault>
			</fault>
			<fault name="AuthorizationFault">
				<soap:fault name="AuthorizationFault" use="literal"></soap:fault>
			</fault>
		</operation>
	</binding>
	<service name="OperationHistory">
		<port name="OperationHistory" binding="tns:WebOperationHistory">
			<soap:address location="http://voh.russianpost.ru:8080/niips-operationhistory-web/OperationHistory"></soap:address>
		</port>
	</service>
</definitions>