SoapClient/SoapClientGenerator/XMLFile3.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://russianpost.org/operationhistory/data" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" targetNamespace="http://russianpost.org/operationhistory/data" elementFormDefault="qualified">

	<xsd:import namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="http://voh.russianpost.ru:8080/niips-operationhistory-web/OperationHistory?xsd=4"></xsd:import>

	<xsd:element name="AuthorizationHeader">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="login" type="xsd:string"></xsd:element>
				<xsd:element name="password" type="xsd:string"></xsd:element>
			</xsd:sequence>
			<xsd:attribute ref="env:mustUnderstand" default="1"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="UpdateOperationRequest" type="tns:UpdateOperationRequest"></xsd:element>

	<xsd:complexType name="UpdateOperationRequest">
		<xsd:sequence>
			<xsd:element name="RequestType" type="tns:RequestType" minOccurs="1" maxOccurs="1"></xsd:element>
			<xsd:element name="SourceOperation" type="tns:OperationHistoryRecord" minOccurs="1" maxOccurs="1"></xsd:element>
			<xsd:element name="TargetOperation" type="tns:OperationHistoryRecord" minOccurs="0" maxOccurs="1"></xsd:element>
			<xsd:element name="ReasonDescription" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
			<xsd:element name="InitiatorDepartment" type="xsd:integer" minOccurs="1" maxOccurs="1"></xsd:element>
			<xsd:element name="ExecutorIP" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="Barcode">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{14}|[A-Z]{2}[0-9]{9}[A-Z]{2}"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="OperationHistoryData">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="historyRecord" type="tns:OperationHistoryRecord" minOccurs="0" maxOccurs="unbounded"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="LanguageData">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Language" minOccurs="1" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
						<xsd:attribute name="code" type="xsd:string"></xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:complexType name="OperationHistoryRecord">
		<xsd:sequence>
			<xsd:element name="AddressParameters" type="tns:AddressParameters"></xsd:element>
			<xsd:element name="FinanceParameters" type="tns:FinanceParameters"></xsd:element>
			<xsd:element name="ItemParameters" type="tns:ItemParameters"></xsd:element>
			<xsd:element name="OperationParameters" type="tns:OperationParameters"></xsd:element>
			<xsd:element name="UserParameters" type="tns:UserParameters"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AddressParameters">
		<xsd:sequence>
			<xsd:element name="DestinationAddress" type="tns:Address"></xsd:element>
			<xsd:element name="OperationAddress" type="tns:Address"></xsd:element>
			<xsd:element name="MailDirect" type="tns:Country"></xsd:element>
			<xsd:element name="CountryFrom" type="tns:Country"></xsd:element>
			<xsd:element name="CountryOper" type="tns:Country"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="FinanceParameters">
		<xsd:sequence>
			<xsd:element name="Payment" type="xsd:integer"></xsd:element>
			<xsd:element name="Value" type="xsd:integer"></xsd:element>
			<xsd:element name="MassRate" type="xsd:integer"></xsd:element>
			<xsd:element name="InsrRate" type="xsd:integer"></xsd:element>
			<xsd:element name="AirRate" type="xsd:integer"></xsd:element>
			<xsd:element name="Rate" type="xsd:integer"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ItemParameters">
		<xsd:sequence>
			<xsd:element name="Barcode" type="xsd:string"></xsd:element>
			<xsd:element name="Internum" type="xsd:string"></xsd:element>
			<xsd:element name="ValidRuType" type="xsd:boolean"></xsd:element>
			<xsd:element name="ValidEnType" type="xsd:boolean"></xsd:element>
			<xsd:element name="ComplexItemName" type="xsd:string"></xsd:element>
			<xsd:element name="MailRank" type="tns:Rtm02Parameter"></xsd:element>
			<xsd:element name="PostMark" type="tns:Rtm02Parameter"></xsd:element>
			<xsd:element name="MailType" type="tns:Rtm02Parameter"></xsd:element>
			<xsd:element name="MailCtg" type="tns:Rtm02Parameter"></xsd:element>
			<xsd:element name="Mass" type="xsd:integer"></xsd:element>
			<xsd:element name="MaxMassRU" type="xsd:integer"></xsd:element>
			<xsd:element name="MaxMassEN" type="xsd:integer"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OperationParameters">
		<xsd:sequence>
			<xsd:element name="OperType" type="tns:Rtm02Parameter"></xsd:element>
			<xsd:element name="OperAttr" type="tns:Rtm02Parameter"></xsd:element>
			<xsd:element name="OperDate" type="xsd:dateTime"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="UserParameters">
		<xsd:sequence>
			<xsd:element name="SendCtg" type="tns:Rtm02Parameter"></xsd:element>
			<xsd:element name="Sndr" type="xsd:string"></xsd:element>
			<xsd:element name="Rcpn" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Country">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:int"></xsd:element>
			<xsd:element name="Code2A" type="xsd:string"></xsd:element>
			<xsd:element name="Code3A" type="xsd:string"></xsd:element>
			<xsd:element name="Name" type="xsd:string"></xsd:element>
			<xsd:element name="NameRU" type="xsd:string"></xsd:element>
			<xsd:element name="NameEN" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Rtm02Parameter">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:int"></xsd:element>
			<xsd:element name="Name" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Address">
		<xsd:sequence>
			<xsd:element name="Index" type="xsd:string"></xsd:element>
			<xsd:element name="Description" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="OperationHistoryFaultReason" type="xsd:string"></xsd:element>
	<xsd:element name="AuthorizationFaultReason" type="xsd:string"></xsd:element>
	<xsd:element name="LanguageFaultReason" type="xsd:string"></xsd:element>

	<xsd:element name="OperationHistoryRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Barcode" type="tns:Barcode"></xsd:element>
				<xsd:element name="MessageType" type="xsd:int"></xsd:element>
				<xsd:element name="Language" type="xsd:string" minOccurs="0" maxOccurs="1" default="RUS"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:simpleType name="RequestType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="update"></xsd:enumeration>
			<xsd:enumeration value="delete"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>