SoapClient/ClientApp/Service References/ServiceReference3/OperationHistory1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="http://russianpost.org/operationhistory/data" elementFormDefault="qualified" targetNamespace="http://russianpost.org/operationhistory/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://voh.russianpost.ru:8080/niips-operationhistory-web/OperationHistory?xsd=4" namespace="http://schemas.xmlsoap.org/soap/envelope/" />
  <xsd:element name="AuthorizationHeader">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="login" type="xsd:string" />
        <xsd:element name="password" type="xsd:string" />
      </xsd:sequence>
      <xsd:attribute default="1" ref="env:mustUnderstand" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UpdateOperationRequest" type="tns:UpdateOperationRequest" />
  <xsd:complexType name="UpdateOperationRequest">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="RequestType" type="tns:RequestType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="SourceOperation" type="tns:OperationHistoryRecord" />
      <xsd:element minOccurs="0" maxOccurs="1" name="TargetOperation" type="tns:OperationHistoryRecord" />
      <xsd:element minOccurs="1" maxOccurs="1" name="ReasonDescription" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="InitiatorDepartment" type="xsd:integer" />
      <xsd:element minOccurs="1" maxOccurs="1" name="ExecutorIP" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Barcode">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{14}|[A-Z]{2}[0-9]{9}[A-Z]{2}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="OperationHistoryData">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="historyRecord" type="tns:OperationHistoryRecord" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LanguageData">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="unbounded" name="Language">
          <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" />
            <xsd:attribute name="code" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="OperationHistoryRecord">
    <xsd:sequence>
      <xsd:element name="AddressParameters" type="tns:AddressParameters" />
      <xsd:element name="FinanceParameters" type="tns:FinanceParameters" />
      <xsd:element name="ItemParameters" type="tns:ItemParameters" />
      <xsd:element name="OperationParameters" type="tns:OperationParameters" />
      <xsd:element name="UserParameters" type="tns:UserParameters" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressParameters">
    <xsd:sequence>
      <xsd:element name="DestinationAddress" type="tns:Address" />
      <xsd:element name="OperationAddress" type="tns:Address" />
      <xsd:element name="MailDirect" type="tns:Country" />
      <xsd:element name="CountryFrom" type="tns:Country" />
      <xsd:element name="CountryOper" type="tns:Country" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinanceParameters">
    <xsd:sequence>
      <xsd:element name="Payment" type="xsd:integer" />
      <xsd:element name="Value" type="xsd:integer" />
      <xsd:element name="MassRate" type="xsd:integer" />
      <xsd:element name="InsrRate" type="xsd:integer" />
      <xsd:element name="AirRate" type="xsd:integer" />
      <xsd:element name="Rate" type="xsd:integer" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ItemParameters">
    <xsd:sequence>
      <xsd:element name="Barcode" type="xsd:string" />
      <xsd:element name="Internum" type="xsd:string" />
      <xsd:element name="ValidRuType" type="xsd:boolean" />
      <xsd:element name="ValidEnType" type="xsd:boolean" />
      <xsd:element name="ComplexItemName" type="xsd:string" />
      <xsd:element name="MailRank" type="tns:Rtm02Parameter" />
      <xsd:element name="PostMark" type="tns:Rtm02Parameter" />
      <xsd:element name="MailType" type="tns:Rtm02Parameter" />
      <xsd:element name="MailCtg" type="tns:Rtm02Parameter" />
      <xsd:element name="Mass" type="xsd:integer" />
      <xsd:element name="MaxMassRU" type="xsd:integer" />
      <xsd:element name="MaxMassEN" type="xsd:integer" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OperationParameters">
    <xsd:sequence>
      <xsd:element name="OperType" type="tns:Rtm02Parameter" />
      <xsd:element name="OperAttr" type="tns:Rtm02Parameter" />
      <xsd:element name="OperDate" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UserParameters">
    <xsd:sequence>
      <xsd:element name="SendCtg" type="tns:Rtm02Parameter" />
      <xsd:element name="Sndr" type="xsd:string" />
      <xsd:element name="Rcpn" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Country">
    <xsd:sequence>
      <xsd:element name="Id" type="xsd:int" />
      <xsd:element name="Code2A" type="xsd:string" />
      <xsd:element name="Code3A" type="xsd:string" />
      <xsd:element name="Name" type="xsd:string" />
      <xsd:element name="NameRU" type="xsd:string" />
      <xsd:element name="NameEN" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Rtm02Parameter">
    <xsd:sequence>
      <xsd:element name="Id" type="xsd:int" />
      <xsd:element name="Name" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Address">
    <xsd:sequence>
      <xsd:element name="Index" type="xsd:string" />
      <xsd:element name="Description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OperationHistoryFaultReason" type="xsd:string" />
  <xsd:element name="AuthorizationFaultReason" type="xsd:string" />
  <xsd:element name="LanguageFaultReason" type="xsd:string" />
  <xsd:element name="OperationHistoryRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Barcode" type="tns:Barcode" />
        <xsd:element name="MessageType" type="xsd:int" />
        <xsd:element minOccurs="0" maxOccurs="1" default="RUS" name="Language" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="RequestType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="update" />
      <xsd:enumeration value="delete" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>